Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.25.4.tgz filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/Mono2x/Gradle/unityLibrary/build/intermediates/local_aar_for_lint/release/out.aar filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.ptc.vuforia.engine@b724a8714d15/Vuforia/Plugins/OSXUniversal/universal/libVuforiaEngine.dylib/ filter=lfs diff=lfs merge=lfs -text
Builds/*.apk filter=lfs diff=lfs merge=lfs -text
